
    <%= simple_form_for @spot do |f| %>
      <%= f.input :name, label: "Nom du spot" %>
      <%= f.input :location, label: "Adresse" %>
      <%= f.input :category, label:"Catégorie", collection: Spot::CAT %>
      <%= f.input :description, label: "Description du spot" %>
      <%= f.input :website, label: "Site internet (si il y en a un)" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <div class="mt-16">
        <% if @spot.new_record? %>
          <%= f.button :submit, 'Créer', class:"absolute bottom-4 right-6 p-2 text-xs border border-black bg-white" %>
        <% else %>
          <%= f.button :submit, 'Mettre à jour', class:"absolute bottom-4 right-6 p-2 text-xs border border-black bg-white" %>
        <% end %>
      </div>
    <% end %>

