<div class="h-screen p-10 flex items-center">

  <div class="p-14 mx-auto relative">

    <div class="absolute close-btn-modal">
      <%= link_to root_path do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>

    <div class="border border-black w-104 h-104 text-md mx-auto bg-white shadow-golden">

        <div data-controller="carousel" class="swiper-container" data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" } }'>
          <div class="swiper-wrapper">
            <% @spot.photos.each do |photo| %>
              <div class="swiper-slide"><%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, class:'h-72' %></div>
            <% end %>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>


      <div class="p-6 border-t border-black ">
        <div class="flex mb-4">
          <div class="flex-grow flex">
            <h2 class="pr-4"><%= @spot.name %></h2>

            <% if @spot.website.present? %>
              <a href="<%= @spot.website %>" target="_blank"><i class="fas fa-globe text-xs text-black hover:text-golden"></i> </a>
            <% end %>
          </div>
          <div class="flex items-center">
            <div class="category-card text-md"><%= @spot.category %></div>
          </div>
        </div>

        <p class="mb-2"><%= @spot.description %></p>
      </div>
    </div>
  </div>
</div>
