<div class="h-screen">
  <div class="border-b border-black">
    <h1 class="text-md px-4 py-3 text-center text-upcase">Mes meilleurs spots de Lyon</h1>
  </div>

  <div class="flex h-140">
    <div class="w-1/2 border-r border-black overflow-auto">

      <!-- SEARCH -->
      <div class="sticky top-0 bg-white py-6 mb-6">
        <%= render 'shared/searchbar' %>
      </div>
      <!-- SEARCH -->

      <!-- CARDS -->
      <div class="grid grid-cols-2 gap-8 pl-2 pr-4 pb-2">
        <% @spots.each do |spot| %>
          <div class="border border-black shadow-golden w-56 mb-4 mx-auto text-xs">
            <div class="relative">
              <% spot.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:'border-b border-black h-40' %>
              <% end %>
              <div class="absolute right-2 top-2 category-card"><%= spot.category %></div>
            </div>
              <div class="p-2">
                <h2 class="mb-1"><%= spot.name %></h2>
                <p class="mb-1"><%= spot.description %></p>
              </div>
          </div>
        <% end %>
      </div>
      <!-- CARDS -->

    </div>

    <!-- MAP -->
    <div class="w-1/2">
      <%= render 'shared/map' %>
    </div>
    <!-- MAP -->
  </div>
</div>

