<div class="h-screen">

  <%= render 'shared/navbar' %>

  <div class="md:flex">
    <div class="md:w-1/2 md:border-r md:border-black">

      <!-- SEARCH -->
      <div class="sticky top-0 bg-white md:py-6 md:mb-4 py-4 relative">

        <div class="absolute top-1 right-2">
        <%= image_tag "badge.png", alt: "badge", class:"h-28 animate-spin-slow" %>
        </div>

        <%= render 'shared/searchbar' %>

      </div>
      <!-- SEARCH -->

      <!-- CARDS SECTION -->
      <div class="md:grid md:grid-cols-2 md:gap-8 md:pl-2 md:pr-4 md:pb-4 md:overflow-auto md:h-110 2xl:h-146 hidden">

        <!-- CARDS -->
        <% @spots.each do |spot| %>
          <div class="relative border border-black shadow-golden w-56 h-68 mb-4 mx-auto text-sm">
            <div class="relative">

              <%= cl_image_tag spot.photos.first.key, height: 300, width: 400, crop: :fill, class:'border-b border-black h-40' %>

              <div class="absolute right-2 top-2 category-card"><%= spot.category %></div>

            </div>

            <div class="p-2">
              <div class="flex mb-2">
                <h2 class="pr-2"><%= spot.name %></h2>

                <% if spot.website.present? %>
                  <a href="<%= spot.website %>" target="_blank"><i class="fas fa-globe text-xs text-black hover:text-golden"></i> </a>
                <% end %>
              </div>

              <p class="mb-2"><%= spot.description %></p>

              <div class="absolute right-2 bottom-2">
                <%= link_to spot_path(spot) do  %>
                  <i class="fas fa-info-circle text-xs"></i>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>
        <!-- CARDS -->
        <div class="bg-white p-0.5"></div>
      </div>
      <!-- CARDS SECTION -->
    </div>

    <!-- MAP -->
    <div class="h-102 md:h-140 2xl:h-150 md:w-1/2">
      <%= render 'shared/map' %>
    </div>
    <!-- MAP -->
  </div>
</div>

