<h1 class="text-xl">Les meilleurs spots d'Elise à Lyon</h1>
<p>Attention ça rigole 0 ici.</p>

<div class="">
  <%= link_to 'Ajouter un spot', new_spot_path, class: 'rounded-full p-2 bg-gray-400 text-xs text-center'%>
</div>

<!-- Search bar -->
  <div class="text-center mb-3">
    <%= form_tag spots_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "w-56 p-2 border border-black text-xs md:w-80", placeholder: "Cherchez un spot..." %>
      <%= button_tag type: 'submit', class: "ml-2 h-8 w-8 text-center" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
<!-- Search bar -->

<!-- Category buttons : "Café", "Vue", "Parc", "Archi", "Shop", "Food", "Fripe", "Ecolo" -->
  <div class="text-center mb-4 md:mb-8 md:mt-4">
    <div class="mb-3">
      <%= link_to 'Café', root_path(category: 'café'), class:"px-2 py-1 text-xs border border-black mr-1" %>
      <%= link_to 'Vue', root_path(category: 'vue'), class:"px-2 py-1 text-xs border border-black mr-1" %>
      <%= link_to 'Parc', root_path(category: 'parc'), class:"px-2 py-1 text-xs border border-black mr-1" %>
      <%= link_to 'Archi', root_path(category: 'archi'), class:"px-2 py-1 text-xs border border-black mr-1" %>
      <%= link_to 'Shop', root_path(category: 'shop'), class:"px-2 py-1 text-xs border border-black mr-1" %>
    </div>

    <%= link_to 'Food', root_path(category: 'food'), class:"px-2 py-1 text-xs border border-black mr-1" %>
    <%= link_to 'Fripe', root_path(category: 'fripe'), class:"px-2 py-1 text-xs border border-black mr-1" %>
    <%= link_to 'Ecolo', root_path(category: 'ecolo'), class:"px-2 py-1 text-xs border border-black mr-1" %>
  </div>

<!-- Cards -->
  <div class="grid grid-cols-3 gap-0">
    <% @spots.each do |spot| %>
      <div class="bg-yellow-50 p-4 w-64 rounded mt-4 mx-auto">


          <% spot.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>


          <h2 class="mb-1"><%= spot.name %></h2>
          <p class="mb-1"><%= spot.description %></p>
          <p class="mb-1"><%= spot.location %></p>
          <p class="mb-1"><%= spot.category %></p>


        <%= link_to edit_spot_path(spot.id) do %>
          <i class="fas fa-pen"></i>
        <% end %>

      </div>
    <% end %>
  </div>
  <!-- Cards -->

