<div class="h-screen">
  <div class="border-b border-black">
    <h1 class="text-md px-4 py-3 text-center text-upcase">Mes meilleurs spots de Lyon</h1>
  </div>

  <div class="flex h-110">
    <div class="w-1/2 border-r border-black overflow-auto">

      <!-- SEARCH -->
      <div class="sticky top-0 bg-white py-4 mb-3">
        <%= render 'shared/searchbar' %>
      </div>
      <!-- SEARCH -->

      <!-- CARDS -->
      <div class="grid grid-cols-2 gap-4 pl-2 pr-4 pb-2">
        <% @spots.each do |spot| %>
          <div class="border border-black shadow-golden w-48 mb-4 mx-auto text-xs">
              <% spot.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:'border-b border-black h-36' %>
              <% end %>

              <div class="p-2">
                <h2 class="mb-1"><%= spot.name %></h2>
                <p class="mb-1"><%= spot.description %></p>
                <p class="mb-1 border border-black p-1 text-xxs font-bold"><%= spot.category %></p>
              </div>
          </div>
        <% end %>
      </div>
      <!-- CARDS -->

    </div>

    <!-- MAP -->
    <div class="w-1/2">
      <%= render 'shared/map' %>
    </div>
    <!-- MAP -->
  </div>
</div>

