<h1 class="text-xl">Les meilleurs spots d'Elise à Lyon</h1>

<div class="border border-black flex h-106 mt-2">
  <div class="w-1/2 border-r border-black overflow-auto">
    <div class="sticky top-0 bg-white py-4 mb-3">
      <!-- Search bar -->
        <div class="text-center mb-3">
          <%= form_tag spots_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "w-56 p-2 border border-black text-xs md:w-80", placeholder: "Cherchez un spot..." %>
            <%= button_tag type: 'submit', class: "ml-2 h-8 w-8 text-center" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      <!-- Search bar -->

      <!-- Category buttons : "Café", "Vue", "Parc", "Archi", "Shop", "Food", "Fripe", "Ecolo" -->
        <div class="text-center">
          <div class="mb-3">
            <%= link_to 'Café', root_path(category: 'Café'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Café"}" %>
            <%= link_to 'Vue', root_path(category: 'Vue'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Vue"}" %>
            <%= link_to 'Parc', root_path(category: 'Parc'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Parc"}" %>
            <%= link_to 'Archi', root_path(category: 'Archi'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Archi"}" %>
            <%= link_to 'Shop', root_path(category: 'Shop'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Shop"}" %>
          </div>

          <%= link_to 'Food', root_path(category: 'Food'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Food"}" %>
          <%= link_to 'Fripe', root_path(category: 'Fripe'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Fripe"}" %>
          <%= link_to 'Ecolo', root_path(category: 'Ecolo'), class:"btn-category #{"bg-golden font-bold " if params[:category] == "Ecolo"}" %>
          <%= link_to root_path, class:"btn-category" do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
    </div>

<!-- Cards -->
  <div class="grid grid-cols-2 gap-4 pl-2 pr-4 pb-2">
    <% @spots.each do |spot| %>
      <div class="border border-black shadow-golden w-60 mb-4 text-xs mx-auto">
          <% spot.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:'border-b border-black' %>
          <% end %>

          <div class="p-2">
            <h2 class="mb-1"><%= spot.name %></h2>
            <p class="mb-1"><%= spot.description %></p>
            <p class="mb-1"><%= spot.category %></p>
          </div>

        <!-- <%= link_to edit_spot_path(spot.id) do %>
          <i class="fas fa-pen"></i> -->
        <% end %>
      </div>
    <% end %>
  </div>

  </div>
  <!-- Cards -->

  <!-- MAP -->
    <div class="w-1/2">
      <div id="map"
         style="width: 100%; height: 576px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <!-- MAP -->
  </div>

